/* line 1, ../sass/style.scss */
body {
  background-color: #efefef;
  margin: 0;
}
/* line 5, ../sass/style.scss */
body #myModal {
  display: none;
  width: 75%;
  max-height: 640px;
  overflow: scroll;
  background-color: #fff;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding: 20px 15px 10px;
}
/* line 16, ../sass/style.scss */
body #myModal .close-reveal-modal {
  position: absolute;
  top: 5px;
  right: 12px;
}
/* line 22, ../sass/style.scss */
body #myModal .edit-btn {
  position: absolute;
  top: 16px;
  right: 50px;
}
/* line 28, ../sass/style.scss */
body #myModal textarea {
  min-height: 80px;
}
/* line 34, ../sass/style.scss */
body main article {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 32px 32px;
}
/* line 40, ../sass/style.scss */
body main article code {
  display: block;
  min-height: 40px;
}
/* line 46, ../sass/style.scss */
body main nav.menu {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 48px;
  background-color: indianred;
  color: white;
  padding: 0 20px;
}
/* line 54, ../sass/style.scss */
body main nav.menu .user {
  margin-right: 32px;
  font-weight: 600;
}
/* line 59, ../sass/style.scss */
body main nav.menu a {
  color: white;
}
/* line 62, ../sass/style.scss */
body main nav.menu a:hover {
  color: white;
}
/* line 68, ../sass/style.scss */
body main .map-view {
  height: 400px;
}
