/* line 1, ../sass/style.scss */
body {
  background-color: #efefef;
  margin: 0;
}
/* line 5, ../sass/style.scss */
body #myModal {
  display: none;
  width: 50%;
  background-color: #fff;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding: 20px 15px 10px;
}
/* line 14, ../sass/style.scss */
body #myModal .close-reveal-modal {
  position: absolute;
  top: 5px;
  right: 12px;
}
/* line 22, ../sass/style.scss */
body main article {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 32px 32px;
}
/* line 28, ../sass/style.scss */
body main article code {
  display: block;
  min-height: 40px;
}
/* line 34, ../sass/style.scss */
body main nav.menu {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 48px;
  background-color: indianred;
  color: white;
  padding: 0 20px;
}
/* line 42, ../sass/style.scss */
body main nav.menu .user {
  margin-right: 32px;
  font-weight: 600;
}
/* line 47, ../sass/style.scss */
body main nav.menu a {
  color: white;
}
/* line 50, ../sass/style.scss */
body main nav.menu a:hover {
  color: white;
}
