{% extends "rest_framework/login.html" %}

{% block title %}{% if name %}{{ name }} – {% endif %}NGEE Tropics Archive{% endblock %}
{% block style %}
    <style>	  .graybox {
	  	background:#eeeeee;
	  }


    fieldset.graybox {
        display: block;
        min-inline-size: min-content;
        margin-inline: 2px;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        padding-block: 0.35em 0.625em;
        padding-inline: 0.75em;
    }</style>
        <link rel="stylesheet" href="/static/stylesheets/foundation.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-ui/jquery-ui.theme.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-ui/jquery-ui.structure.css">

{%  endblock %}
{% block body %}

    <div style="background-color: #ffcc00; padding: 10px; text-align: left; font-size: 16px;">
        <b>NOTICE:</b> We’re in the process of migrating the NGEE-Tropics Data Archive to
        <a href="https://ess-dive.lbl.gov/" target="_blank">ESS-DIVE</a>, the long-term data archive for
        <a href="https://ess.science.energy.gov/" target="_blank">BER/ESS</a>. All public NGEE-Tropics datasets can be
        accessed in the new
        <a href="https://data.ess-dive.lbl.gov/portals/ngeetropics" target="_blank">NGEE-Tropics Portal in ESS-DIVE</a>,
        including after the NGEE-Tropics Data Archive is retired.  Updates to NGEE-Tropics datasets should
        now be done via ESS-DIVE; please contact us at <a href="mailto:ngee-tropics-archive@lbl.gov">ngee-tropics-archive@lbl.gov</a>
        if you need to edit an NGEE-Tropics dataset or if you have any questions about NGEE-Tropics datasets.

    </div>
<body data-feedly-mini="yes">

  <main>
  <div class="logo">
                <a href="/">
                    <img src="/static/img/logo.png">
                </a>
            </div>
      <article class="main-article js-main-article">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>

          </div>
        </div><!-- /row fluid -->


        <div class="row-fluid">
          <div>
           <fieldset class="graybox">
            <form action="{% url 'rest_framework:login' %}" role="form" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />

              <div id="div_id_username" class="clearfix control-group {% if form.username.errors %}error{% endif %}">
                <p>Log in with your FLUXNET credentials.<br>Click <a href="https://ameriflux-data.lbl.gov/Pages/RequestAccount.aspx">here</a> to create a new FLUXNET account.</p>
                <p>Click <a href="https://ameriflux.lbl.gov/login">here</a> to test your credentials before attempting to login for the first time.</p>
                <div class="form-group">
                  <label for="id_username">Username:</label>
                  <input type="text" name="username" maxlength="100"
                      autocapitalize="off"
                      autocorrect="off" class="form-control textinput textInput"
                      id="id_username" required autofocus
                      {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                  {% if form.username.errors %}
                    <p class="text-error">
                      {{ form.username.errors|striptags }}
                    </p>
                  {% endif %}
                </div>
              </div>

              <div id="div_id_password" class="clearfix control-group {% if form.password.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_password">Password:</label>
                  <input type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off" class="form-control textinput textInput" id="id_password" required>
                  {% if form.password.errors %}
                    <p class="text-error">
                      {{ form.password.errors|striptags }}
                    </p>
                  {% endif %}
                </div>

               {% if user.is_authenticated and not user.is_activated %}
                <div class="well well-small text-error" style="border: none">This FLUXNET account has not been authorized to access the NGEE Tropics
Archive. A message has been sent to an administrator. We will be in touch
with you shortly.</div>
              {% endif %}


              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <div class="well well-small text-error" style="border: none">{{ error }}</div>
                {% endfor %}
              {% endif %}

              <div class="form-actions-no-box">
                <button type="submit" name="submit" value="Log in" class="button js-view-toggle columns small-12" id="submit-id-submit">Login</button>
              </div>

              <div>
                <br>
                <a href="https://docs.google.com/document/d/14idE53T_HyE5a9jaIGcdnW1zvg6WwT9bBY9aF7BfE3c/edit">Help</a>
                <br>
                <a href="https://ameriflux-data.lbl.gov/Pages/ResetFluxPassword.aspx">Forgot Password ?</a>
              </div>
            </form>
            </fieldset>
          </div>
        </div><!-- /.row-fluid -->
      </div><!--/.well-->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
      </article>

  </main>
</body>
{% endblock %}
