{% extends "archive_api/doi-base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/stylesheets/foundation.css">
    <style>


        .errorlist {
            color: #ec5840;
            list-style-type: none;
            margin-left: 0;
        }

        .button {
            font-size: 15px;
            color: white;
            float: right;
            margin: 10px;

        }

        .button.left {
            font-size: 15px;
            color: white;
            background-color: #49bb76;
            float: left;
            margin: 10px;

        }

        .button.clear {
            font-size: 15px;
            color: white;
            float: right;
            margin: 10px;
            background-color: #777;

        }

        .help-text.metrics {
            margin-top: 5px;
        }

        .help-text.metrics.right {
            margin-top: 5px;
            float: right;
        }

        .no-padding-vertical {
            padding-top: 0;
            padding-bottom: 0;
        }


    </style>
    <div>
        <form method="POST">
            <table style="border: none">
                <tbody>
                <tr style="vertical-align: top;">
                    <td style="border: none">
                        {{ form.start_date.label }} <div class="help-text metrics">{{ form.start_date.help_text}}</div> {{ form.start_date }}
                        {{ form.start_date.errors }}
                    </td>
                    <td style="border: none">
                        {{ form.end_date.label }} <div class="help-text metrics">{{ form.end_date.help_text}}</div>{{ form.end_date }}
                        {{ form.end_date.errors }}
                    </td>
                </tr>
                <tr class="no-padding-vertical">

                    <td style="align: right; border: none;" colspan="2" class="no-padding-vertical">
                        {% csrf_token %}
                        <input class="button" type="submit" class="btn btn-primary" value="Filter Metrics">
                        {% if  user.is_authenticated %}
                            <input class="button left" type="submit" name="download" value="Download Metrics">
                        {% endif %}

                        <input class="button clear" name="clear" type="submit" value="Reset Date Filter">

                    </td>
                </tr>
                <tr class="no-padding-vertical"><td class="no-padding-vertical" style="padding-left: 15px;" colspan="2">
                    {% if  user.is_authenticated %}
                    <span class="help-text metrics left">Download CSV of dataset metrics.</span>
                    {%  endif %}
                    <span class="help-text metrics right" style="padding-right: 15px;">Filter metrics by start and end dates.</span>
                </td></tr>
                </tbody>
            </table>


        </form>
    </div>
    <div>
        <table>
            <tbody>
            <tr>
                <td colspan="4"><h4 class="title">Datasets</h4></td>
            </tr>
            {% for m in metrics_datasets %}
                <tr>
                    <td></td>
                    <td>
                        <h5 class="title">{{ m.label }}</h5></td>
                    <td style="text-align: right">{{ m.num }}</td>
                    <td></td>
                </tr>
            {% empty %}
                <tr>
                    <td>Sorry, no metrics.</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="4"><h4 class="title">Users</h4></td>
            </tr>
            {% for m in metrics_users %}
                <tr>
                    <td></td>
                    <td>
                        <h5 class="title">{{ m.label }}</h5></td>
                    <td style="text-align: right">{{ m.num }}</td>
                    <td></td>
                </tr>
            {% empty %}
                <tr>
                    <td>Sorry, no metrics.</td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
    <p align="center">
        <a href="{{ request.META.HTTP_REFERER }}">Back to Previous Page</a>
    </p>
    </div>
{% endblock %}