<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NGEE Tropics Archive Service: Home</title>
        <link rel="stylesheet" href="static/stylesheets/foundation.css">
        <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="static/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
        <script type="text/javascript" src="static/js/foundation.js"></script>
        <!--script type="text/javascript" src="static/js/foundation.reveal.js"></script-->
        <script type="text/javascript" src="static/js/what-input.js"></script>
        <link rel="stylesheet" type="text/css" href="static/js/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="static/js/jquery-ui/jquery-ui.theme.css">
        <link rel="stylesheet" type="text/css" href="static/js/jquery-ui/jquery-ui.structure.css">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAllKgUfxh6WQorM4b-vnIBjY1kRGwG86g"></script>
    </head>
    <body>
        
        <main>
            <nav class="menu expanded">
                <a href="/">Home</a>
                <a href="api/api-auth/logout/?next=/" class="float-right">Logout</a>
                {% if user.is_authenticated %}
                    <span class="float-right user">{{ user.get_username }}</span>
                {% else %} 
                    <span class="js-auth" data-auth="false"></span>
                {% endif %}
            </nav>
            <article>
                <h2>NGEE Tropics Archive</h2>
                <form>
                    <h4>Create a dataset</h4>
                    <div class="small-12 medium-6">
                        <label>Name
                            <input class="js-dataset-name" type="text" placeholder="Dataset name">
                        </label>
                    </div>
                    <div class="small-12 medium-6">
                        <label>Description
                            <textarea class="js-dataset-desc" placeholder="Dataset description"></textarea>
                        </label>
                    </div>
                    <div class="small-12 medium-6 text-center">
                        <button type="button" class="button small-10 medium-6 js-create-dataset">Create Dataset</button>
                        <input type="reset" class="button secondary small-10 medium-6 js-clear-form" value="Clear form">
                    </div>
                </form>
                <br>
                <!--form>
                    <h4>Create a contact</h4>
                    <div class="small-12 medium-6">
                        <label>First Name
                            <input class="js-contact-fname" type="text" placeholder="Contact first name">
                        </label>
                    </div>
                    <div class="small-12 medium-6">
                        <label>Last Name
                            <input class="js-contact-lname" type="text" placeholder="Contact last name">
                        </label>
                    </div>
                    <div class="small-12 medium-6">
                        <label>Email
                            <input class="js-contact-email" type="email" placeholder="Contact email">
                        </label>
                    </div>
                    <div class="small-12 medium-6">
                        <label>Institute
                            <input class="js-contact-institute" type="text" placeholder="Contact institute">
                        </label>
                    </div>
                    <div class="small-12 medium-6 text-center">
                        <button type="button" class="button small-10 medium-6 js-create-contact">Create Dataset</button>
                        <input type="reset" class="button secondary small-10 medium-6" value="Clear form">
                    </div>
                </form-->

                <h4>Enter ID of the dataset you want to upload a file to</h4>
                <div class="small-6">
                <input type="text" name="" class="js-upload-dataset-id">
                </div>
                <button class="button js-file-upload-btn">Choose File to Upload</button>
                <input type="file" name="" class="js-file-input-btn hide">

                <div>
                    <input type="text" class="searchable js-searchable js-contacts-widget" name="" placeholder="Type contact name to search">
                    
                    <select class="js-all-sites all-sites">
                        <option selected disabled value="">Select site</option>
                    </select>

                    <div class="js-site-info hide">
                        <section class="map-view js-map-view columns small-6" id="js-map-view"></section>
                        <section class="js-params columns small-12">

                        </section>
                        <div class="columns small-12">
                            <button class="js-view-site-btn button">View more information for <span class="js-site-id"></span></button>
                        </div>
                    </div>

                    <div class="js-plot-info hide">
                        <section class="js-plot-params columns small-12">

                        </section>
                        <div class="columns small-12">
                            <button class="js-view-plot-btn button">View more information for <span class="js-plot-id"></span></button>
                        </div>
                    </div>

                    <select class="js-all-plots all-plots">
                        <option selected disabled value="">Select plot</option>                        
                    </select>
                </div>

                <h4>
                    View
                </h4> 
                <button class="button js-get-datasets">Datasets</button>
                <button class="button js-get-plots">Plots</button>
                <!--button class="button js-get-vars">Variables</button>
                <button class="button js-get-contacts">Contacts</button-->
                <button class="button js-get-sites">Sites</button>
                <!--div class="small-12 medium-6">
                    <label>Description
                        <textarea class="js-text-dump" placeholder="Dataset description"></textarea>
                    </label>
                </div-->
                <code class="js-text-dump small-12 medium-6"></code>

                <section class="js-datasets">
                    
                </section>
                <br>
                <h2>Create a dataset</h2>
                <form class="js-create-form dataset small-12 medium-6">
                    <div class="small-12 text-center">
                        <button type="button" class="button small-10 medium-6 js-create-dataset">Create Dataset</button>
                        <button type="button" class="button small-10 medium-6 js-save-dataset hide">Save</button>
                        <input type="reset" class="button secondary small-10 medium-6 js-clear-form" value="Clear form">
                    </div>
                </form>
                <div class="js-data-templates hide">
                    <textarea class="js-template string"></textarea>
                    <input type="checkbox" class="boolean js-template" name="">
                    <!--div class="switch boolean js-template">
                      <input class="switch-input" type="checkbox" name="">
                      <label class="switch-paddle" for="">
                        <span class="show-for-sr"></span>
                      </label>
                    </div-->
                    <select class="js-template choice"></select>
                    <input type="text" class="js-template date" name="">
                    <input type="text" class="js-template datetime" name="">
                    <select class="js-template reference_list"></select>
                    <input type="text" class="js-template searchable" name="">

                </div>
            </article>
            <div class="reveal-modal-bg" style="display: none"></div>
            <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
              <h3 id="modalTitle">Awesome. I have it.</h3>
              <section class="js-modal-body modal-body">
                  
              </section>
              <button class="button edit-btn js-edit-dataset-btn">Edit</button>
              <a class="button download-btn js-file-download-btn">Download File</a>
              <a class="close-reveal-modal js-close-modal" aria-label="Close">&#215;</a>
            </div>

        </main>
    </body>
</html>
